main {
  max-width: 800px;
  margin: auto;
  background-color: rgb(46, 6, 61);
  opacity: 90%;
  color: white;
  text-align: center;
}

header {
  background-image: url("kepek/ricknmorty_header.jpg");
  background-position-y: -20px;
  height: 150px;
}

h1 {
  background-color: black;
  padding: 10px;
}

ul {
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  justify-content: center;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

body {
  background-image: url("kepek/ricknmorty_background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: azure;
}

footer {
  background-color: black;
  padding: 20px;
}
#nav {
  width: 750px;
  margin: 0 auto;
  list-style: none;
}
#nav li {
  float: left;
}
#nav a {
  display: block;
  text-align: center;
  width: 110px;
  text-decoration: none;
}
